<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div id="headers" th:fragment="head">
<!--     Header section -->
    <header class="header-section">
    	<div class="header-warp">
    		<div class="container">
    			<a th:href="@{/}" class="site-logo">
    				<img src="img/alatoo.png" alt="logo" class="site-logo">
    			</a>
    			<div class="user-panel" th:if="${#request.userPrincipal == null}">
    				<a th:href="@{/login}">Login</a><span>/</span>
					<a th:href="@{/registration}">Register</a>
    			</div>
    			<div class="user-panel" th:if="${#request.userPrincipal != null}">
					<a th:href="@{/lostForm}">Add an announcement </a><span>/</span>
					<a th:href="@{/logout}"> Logout </a>
				</div>
    			<div class="nav-switch">
    				<i class="fa fa-bars"></i>
    			</div>
    			<ul class="main-menu">
    				<li><a th:href="@{/}" >Home</a></li>
    				<li><a th:href="@{/lostObjects}">Lost items</a></li>
    				<li><a th:href="@{/objects}">Found items</a></li>
<!--    				<li><a th:href="@{/events}">Events</a></li>-->
    				<li><a th:href="@{/about}">About us</a></li>
    				<li><a th:href="@{/contact}">Contact</a></li>
					<li><a th:href="@{/dashboard}">Dash</a></li>
    			</ul>
    		</div>
    	</div>
    </header>
</div>



</body>
</html>