<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Lost & Found</title>
    <meta charset="UTF-8">
    <meta name="description" content="Academica Learning Page Template">
    <meta name="keywords" content="academica, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">

    <!-- Stylesheets -->

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/flaticon.css"/>
    <link rel="stylesheet" href="css/owl.carousel.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/formStyle.css"/>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Page Preloder -->
<!--<div id="preloder">-->
<!--    <div class="loader"></div>-->
<!--</div>-->


<!-- Header section -->
<!-- Navigation -->

<div th:insert="header.html :: head"></div>
<!-- Header section end -->

<!-- Page top section -->
<section >

</section>
<!--  Page top end -->
<div class="container text-center lost-form">
    <h3>Lost Form / Found Form</h3>
</div>
<div class="form-style-5">
    <form>
        <fieldset>
              <legend><span class="number">1</span> Fill the form </legend>
            <input type="radio" name="choice" value="lost"><span style="font-size: 20px;">I lost something &emsp;</span>
            <input type="radio" name="choice" value="found" checked><span style="font-size: 20px;">I found something</span><br><br>
            <legend><span class="number">2</span> Title </legend>
            <input type="text" name="field1" placeholder="What did you find? ..."> </input>
            <legend><span class="number">3</span> Description </legend>
            <textarea name="field2" placeholder="Where did you find it ? ..."></textarea>
            <legend><span class="number">4</span> Category </legend>
            <select id="category" name="field4">
                    <option value="docs">Documents</option>
                    <option value="device">Electronics</option>
                    <option value="personal_id">Personal Documents</option>
                    <option value="debate">Personal Materials</option>
                    <option value="gaming">Others</option>
                </select>
            <legend><span class="number">5</span> Upload an image </legend>
            <input type="file" name="img" accept="image/.*">
            <br><br>
        </fieldset>
        <input type="submit" value="Apply" />
    </form>
</div>




<!-- Footer section -->
<div th:insert="footer.html :: foot"></div>
<!-- Footer section end -->


<!--====== Javascripts & Jquery ======-->

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/circle-progress.min.js"></script>
<script src="js/main.js"></script>


<!-- load for map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
<script src="js/map.js"></script>


</body>
</html>
